{% import "../_common/utils.twig" as utils %}

<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">05/2013 - à ce jour</div>
        </div>

        <div class="col-lg-4">
            <h3 class="resume__item-title">Freelance</h3>
            <p>intégration et développpements frontend</p>
            <ul class="list-inline">
                <li class="list-inline-item">{{ utils.svgIcon('html5-plain','HTML') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('css3-plain','CSS') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('javascript-plain','Javascript') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('sass-original','SASS') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('nodejs-plain','NodeJS') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('npm-original-wordmark','NPM') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('babel-plain','Javascript') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('react-original','React') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('vuejs-original','VueJS') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('angularjs-plain','Angular') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('typescript-plain','Gulp') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('gulp-plain','Gulp') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('webpack-plain','Webpack') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('php-plain','PHP') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('drupal-plain','Drupal') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('git-plain','Git') }}</li>
            </ul>
            <p>Réalisations:</p>
            <ul class="list">
                <li>
                    <a rel="nofollow" href="https://www.fleuruspresse.com/">Fleurus presse
                        {{ utils.svgIcon('external','Ouvre une nouvelle fenêtre', 'd-print-none') }}</a>

                </li>
                <li>
                    <a rel="nofollow" href="https://www.syndex.fr/">Syndex
                        {{ utils.svgIcon('external','Ouvre une nouvelle fenêtre', 'd-print-none') }}</a>

                </li>
                <li>
                    <a rel="nofollow" href="http://lopinto.fr/styleguide-demo/">Création d'un design system styleguidist + React + StyledComponent
                        {{ utils.svgIcon('external','Ouvre une nouvelle fenêtre', 'd-print-none') }}</a>

                </li>
                <li>
                    <a rel="nofollow" href="https://www.mmmieux.fr/">MGEN - MMMieux
                        {{ utils.svgIcon('external','Ouvre une nouvelle fenêtre', 'd-print-none') }}</a>

                </li>
                <li>
                    <a rel="nofollow" href="https://www.bluemind.net/">Bluedmind
                        {{ utils.svgIcon('external','Ouvre une nouvelle fenêtre', 'd-print-none') }}</a>

                </li>
                <li>
                    <a rel="nofollow" href="https://web.archive.org/web/20171106041818/https://www.fabernovel.com/">fabernovel.com (Archive)
                        {{ utils.svgIcon('external','Ouvre une nouvelle fenêtre', 'd-print-none') }}</a>

                </li>
            </ul>
        </div>
    </div>
</div>
<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">01/2013 - 05/2013</div>
        </div>

        <div class="col-lg-4">
            <h3 class="resume__item-title">
                Développeur frontend &mdash;
                <a href="https://www.inconito.fr/">inconito
                    {{ utils.svgIcon('external','Ouvre une nouvelle fenêtre', 'd-print-none') }}</a>
            </h3>
            <div class="resume__item-body">
                <p>intégration et theming Drupal/Wordpress.</p>
                <ul class="list-inline">
                    <li class="list-inline-item">{{ utils.svgIcon('html5-plain','HTML') }}</li>
                    <li class="list-inline-item">{{ utils.svgIcon('css3-plain','CSS') }}</li>
                    <li class="list-inline-item">{{ utils.svgIcon('javascript-plain','Javascript') }}</li>
                    <li class="list-inline-item">{{ utils.svgIcon('sass-original','Sass') }}</li>
                    <li class="list-inline-item">{{ utils.svgIcon('grunt-plain','Grunt') }}</li>
                    <li class="list-inline-item">{{ utils.svgIcon('drupal-plain','Drupal') }}</li>
                    <li class="list-inline-item">{{ utils.svgIcon('wordpress-plain','Wordpress') }}</li>
                    <li class="list-inline-item">{{ utils.svgIcon('git-plain','Git') }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">11/2009 - 11/2011</div>
        </div>
        <div class="col-lg-4">
            <h3 class="resume__item-title">Développeur web &mdash;
                <a href="#RIP">Acid network</a>
            </h3>
            <p>
                Intégration, développement et maintenance des applicatifs B2C/B2B.
            </p>
            <ul class="list-inline">
                <li class="list-inline-item">{{ utils.svgIcon('html5-plain','HTML') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('css3-plain','CSS') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('javascript-plain','Javascript') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('less-plain-wordmark','Less') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('svn-plain','SVN') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('php-plain','PHP') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('mysql-plain','MySql') }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">02/2008 - 06/2009</div>
        </div>
        <div class="col-lg-4">
            <h3 class="resume__item-title">Développeur web &mdash;
                <a href="#RIP">JNC Diffusion</a>
            </h3>
            <p>intégration et développement PHP/SQL de sites vitrines.</p>
            <ul class="list-inline">
                <li class="list-inline-item">{{ utils.svgIcon('html5-plain','HTML') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('css3-plain','CSS') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('javascript-plain','Javascript') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('less-plain-wordmark','Less') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('svn-plain','SVN') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('php-plain','PHP') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('mysql-plain','MySql') }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">01/2008 - 04/2008</div>
        </div>
        <div class="col-lg-4">
            <h3 class="resume__item-title">
                Développeur web &mdash;
                <a href="https://www.orealys.com/">Oréalys
                    {{ utils.svgIcon('external','Ouvre une nouvelle fenêtre', 'd-print-none') }}</a>
            </h3>
            <p>Développement back et support téléphonique client</p>
            <ul class="list-inline">
                <li class="list-inline-item">{{ utils.svgIcon('html5-plain','HTML') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('javascript-plain','Javascript') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('php-plain','PHP') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('mysql-plain','MySql') }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="resume__item">
    <div class="row">
        <div class="col-lg-2 br--accent">
            <div class="resume__item-date">05/2005 - 03/2007</div>
        </div>
        <div class="col-lg-4">
            <h3 class="resume__item-title">Développeur web &mdash;
                <a href="https://www.fram.fr/">FRAM
                    {{ utils.svgIcon('external','Ouvre une nouvelle fenêtre', 'd-print-none') }}</a>

            </h3>
            <p>Développement et maintenance des applicatifs B2C/B2B</p>
            <ul class="list-inline">
                <li class="list-inline-item">{{ utils.svgIcon('html5-plain','HTML') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('javascript-plain','Javascript') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('php-plain','PHP') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('mysql-plain','MySql') }}</li>
                <li class="list-inline-item">{{ utils.svgIcon('postgresql-plain','PostgreSQL') }}</li>
            </ul>
        </div>
    </div>
</div>
